extends base 
block content
  .main
    h1 COURSES  
    if (user && user.name.split(' ')[0] === 'admin')
      a.createCourseBtn(href = '/createcourse') create new course
    each course in courses
        .container-course
            img.img-course(src=`/img/courses/${course.imageCover}` alt="lion" )
            h3(class = 'course-name')= course.name
            p.weeks=`${course.duration}Weeks`
            p(class = 'description')= course.description
            button.btn.btn-primary.enroll Enroll
            a.details(href=`/courses/${course._id}`) 
              button.btn.btndetails Details
            p.price(style='margin-top:1rem') Price: #{course.price}$
