extends base 

block content
 .main
      .course
          .cover
            img.img-fluid(src=`/img/courses/${course.imageCover}` alt="lion" )
          .c-data
              h3.course-name= course.name
              p.cweeks= `${course.duration}Weeks`
              p.cdescription= course.description
              button.btn.cenroll.enroll Enroll
              p.cprice Price: #{course.price}$
      .instructor 
          h6 Instructor 
          img.img-fluid(src ='/img/users/man.png' style = 'height:60px; width:60px; border-radius: 30px;')
          span= course.tutors.name
      .reviews 
          h6 Reviews
          p ipsum dolor sit amet consectetur adipisicing elit. Commodi officia autem assumenda dolor, quia repellendus.
          p 3 
      .carriculum 
          h5 carricullum
          each week in course.caricullum 
            h6 Week #{week.week} 
            p= week.despriction
            ul.course-links
              each link in week.links
                .lesson 
                  li=link.name
                  li
                    iframe(src=`${link.link}` title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                    

      